# Local database
# POSTGRES_USER=
# POSTGRES_PASSWORD=
# POSTGRES_DB=
# DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

# Vercel database
POSTGRES_HOST=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_SSLMODE=require
POSTGRES_CHANNELBINDING=require
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}?uselibpqcompat=true&sslmode=${POSTGRES_SSLMODE}&channel_binding=${POSTGRES_CHANNELBINDING}

# API Configs
NODE_ENV=development
API_VERSION=1
